{% extends 'base.html' %}

{% load humanize %}

{% load bootstrap4 %} 

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    <div class="row justify-content-center" >
        {% if messages %}
        {% for message in messages  %}
        <div class="alert {% if message.tags == 'success' %}  alert-success {% else %} alert-danger {% endif %}">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card col-12 m-4 p-0 pb-4 " >
            
            <div class="card-header text-center"><h5>Profile</h5></div>
            <div class="row">
                <div class="col-4">
                    <div class="card-body">
                        {% csrf_token %}
                        {% for image in user_profile %}
                        <img src="{{image.get_picture}}" width="300px" height="300px" class="rounded" alt="">
                        {% endfor %}
                        <div class="offset-2">{{profile.img_profile}}        </div>                 
                   </div>
                   
                </div>
                <div class="col-1 p-3 ">
                        {% for user_obj in user_list  %}
                       
                        {% ifequal request.user user_obj %}

                        {% else %}

                            {% if request.user in user_obj.profile.followers.all %}
                                <a href="{% url 'users:follow_user' user_obj.id %}" class="btn btn-primary btn-sm" id="follow_user">Unfollow</a>
                            {% else %}
                        
                                <a href="{% url 'users:follow_user' user_obj.id %}" class="btn btn-outline-primary btn-sm" id="follow_user">Follow</a>
                            {% endif %}
                                 
                    {% endifequal %}
                        {% endfor %}     
                
                </div>
                <div class="col-5 ml-4">
                   
                    <div class="card-body">
                        {% for user_obj in user_list  %}
                        <div><label for=""><h5>Username: </h5></label> {{user_obj.username}}</div>
                        <div><label for=""><h5>Email: </h5></label> {{user_obj.email}}</div>
                        {% endfor %}
                        {% for profile in user_profile  %}
                        <div><label for=""><h5>Birth date: </h5></label> {{profile.birth_date}}</div>
                        <div><label for=""><h5>Gender: </h5></label> {{profile.gender}}</div>
                        <div><label for=""><h5>Country: </h5></label> {{profile.country}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</form>
<!-- Tabs -->
<section id="tabs">
	<div class="container"  >
		<div class="row">
			<div class="col-xs-12 ">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</a>
						<a class="nav-item nav-link" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab" aria-controls="nav-posts" aria-selected="false">Posts</a>
						<a class="nav-item nav-link" id="nav-comments-tab" data-toggle="tab" href="#nav-comments" role="tab" aria-controls="nav-comments" aria-selected="false">Comments</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
                        <div class="list-group">
                            {% for post in result_post  %}
                                {% if post in user_posts %}
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{post.author.username}} posted   {{post.title}}</h5>
                                    <small class="ml-4">{{post.created|naturaltime}}</small>
                                    </div>
                                    <p class="mb-1">{{post.body}}</p>
                                </a>
                                {% else %}
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"> {{post.commenter.username}} commented on {{post.post}} </h5>
                                    <small class="ml-4">{{post.created|naturaltime}}</small>
                                    </div>
                                    <p class="mb-1">{{post.body}}</p>
                                </a>
                                {% endif %}
                                    
                              
                            {% endfor %}
                                
                        </div>
                    </div>
                    
					<div class="tab-pane fade" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
                        <div class="list-group">
                          <h1 class="text-center" style="color:cadetblue;">
                            {% for user_obj in user_list %}
                            {{ user_obj.username }}'s
                            {% endfor %}
                            posts
                          </h1>
                          {% for Post in user_posts %}
                            <a href="{{ Post.get_absolute_url }}" class="list-group-item list-group-item-action">
                              <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ Post.title }}</h5>
                                <small>{{ Post.created|naturaltime }}</small>
                              </div>
                              <p class="mb-1">{{ Post.body|truncatewords_html:50|urlize }}</p>
                              <small class="float-right">{{ Post.points.count }} likes</small>
                              <small>{{ Post.comments.count }} comments</small>
                            </a>
                            {% endfor %}
                          </div>
                    </div>
                    
					<div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
                        <div class="list-group">
                          <h1 class="text-center" style="color:cadetblue;">
                            {% for user_obj in user_list %}
                            {{ user_obj.username }}'s
                            {% endfor %}
                            comments
                          </h1>
                          {% for Comment in user_comments %}
                            <a href="{{ Comment.post.get_absolute_url }}" class="list-group-item list-group-item-action">
                              <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><b>{{ Comment.body }}</b></h5>
                                <small>{{ Comment.created|naturaltime }}</small>
                              </div>

                              <small>{{ Comment.commenter }}</small>
                            </a>
                            {% endfor %}
                          </div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</section>
<script>
    $(document).ready(function(){
        $('a#follow_user').on("click", function(){
        var $add_btn = $(this);
        var $add_url = $(this).attr("href");
        $.ajax({
            url: $add_url,
            method:'GET',
            success: function(data){
                $add_btn.text(data);
                if ($add_btn.hasClass('btn-outline-primary')) {
                    $add_btn.removeClass('btn-outline-primary').addClass('btn-primary');
                }
                else if ($add_btn.hasClass('btn-primary')) {
                    $add_btn.removeClass('btn-primary').addClass('btn-outline-primary');
                }
                else {
                    console.log('Unexpected error!');
                }
            }
        });
        return false;
    })
    })

</script>
{% endblock content %}
