<div class="modal fade bd-example-modal-lg-2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="card">
          <div class="card-header">Register</div>
          <div class="card-body">
              <form action="" method="">
                  <div class="form-group row">
                      <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                      <div class="col-md-6">
                          <input type="text" id="email_address" class="form-control" name="email-address" required autofocus>
                      </div>
                  </div>

                  <div class="form-group row">
                      <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                      <div class="col-md-6">
                          <input type="password" id="password" class="form-control" name="password" required>
                      </div>
                  </div>

                <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Confirm your password</label>
                <div class="col-md-6">
                <input type="password" id="password" class="form-control" name="password" required>
                </div>
                </div>

                  <div class="col-md-6 offset-md-4">
                      <button type="submit" class="btn btn-primary">
                          Register
                      </button>
                      <a href="#" class="btn btn-link">
                          Forgot Your Password?
                      </a>
                  </div>
                  <div class="float-right">
                  Or use 
                  <a href=""><i class="fab fa-github fa-lg"></i></a>
                  <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                  <a href=""><i class="fab fa-google fa-lg"></i></a>
                  </div>
          </div>
          </form>
      </div>
  </div>
      </div>
    </div>
  </div>
  