{% extends "base.html" %}

{% block title %}Subscribe Communities{% endblock %}

{% block content %}

{% include "includes/page_heading.html" with text="Subscribe Communities" %}
<div class="alert alert-light text-center" role="alert">
  Click the <span class="font-weight-bold">Subscribe</span> button to populate your home feed with interesting community's posts.
</div>
{% if communities %}
  {% include "includes/partial_community.html" with communities=communities %}
{% else %}
  <div class="card p-4 my-4 mx-0">
    <h6 class="text-center">No Communities Found</h6>
    <div style="margin:0 auto;">
    <p class="text-muted">There are no communities created yet.</p>
    </div>
  </div>
{% endif %}

{% endblock %}
