{% extends 'base.html' %}

{% load humanize %}

{% block title %}All Groups{% endblock title %}

{% block content %}
<div class="container">
<div class="list-group">
  {% for group in groups %}
    <a href="{{ group.get_absolute_url }}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ group.title }}</h5>
        <small>Created {{ group.created|naturaltime }}</small>
      </div>
      <p class="mb-1">{{ group.description }}</p>
      <small>{{ group.subscribers.count }} subscribers</small>
    </a>
    {% if group in request.user.subscribed_groups.all %}
        <a href="{% url 'groups:subscribe' group.slug %}" class="btn btn-secondary btn-sm" id="subscribe_board">Unsubscribe</a>
      {% else %}
        <a href="{% url 'groups:subscribe' group.slug %}" class="btn btn-primary btn-sm" id="subscribe_board">Subscribe</a>
      {% endif %}
    {% empty %}
    <div class="card p-4 my-4 mx-0">
      <h6 class="text-center">No Groups Found</h6>
      <div style="margin:0 auto;">
      <p class="text-muted">There are no groups created yet.</p>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
{% endblock content %}