{% extends 'base.html' %}

{% load humanize %}

{% load groups_tags %}

{% block title %}Banned Users{% endblock title %}

{% block content %}

{% if users %}
<h1>Unban users>Unban user if they were banned by mistake from group</h1>
{% endif %}

<div class="container">
<div class="list-group">
    {% for user in users %}
    <li class="list-group-item"><a href="{% url 'user_profile' user.username %}">{{ user.profile.screen_name }}</a><a href="{% url 'ban_user' group.slug user.id %}" class="float-right">Unban User</a></li>
    {% empty %}
    <li class="list-group-item">No User Banned Yet!</li>
    {% endfor %}
</div>
</div>
{% endblock content %}
