{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- Page Content -->

    <div class="row">
      {% if group.cover %}
      <img class="mb-3" style="width: 1200px;height: 250px;" src="{{ group.cover.url }}" alt="">
      {% else %}
      <img class="mb-3" src="{% static 'img/default_cover.jpeg' %}" style="width: 1200px;height: 250px;" alt="">
      {% endif %}
      <!-- Blog Entries Column -->
      <div class="col-md-8">

        {% for post in posts %}
        <!-- Blog Post -->
        <div class="card mb-4">
          {% if post.image %}
          <div class="text-center">
          <img class="card-img-top" src="{{ post.image.url }}">
          </div>
          {% endif %}
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.body|truncatewords_html:50|urlize }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
            {% if post in user.liked_posts.all %}
              <a href="{% url 'posts:like' post.slug %}" class="btn btn-primary float-right"><i class="fas fa-thumbs-down"></i></a>
            {% else %}
              <a href="{% url 'posts:like' post.slug %}" class="btn btn-primary float-right"><i class="fas fa-thumbs-up"></i></a>
            {% endif %}
          </div>
          <div class="card-footer text-muted">
            Posted on {{ post.created|naturaltime }} by
            <a href="">{{ post.author.profile.screen_name }}</a>
            <p class="float-right">{{ post.comments.count }} Comments</p>
          </div>
        </div>
        {% endfor %}

  


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Side Widget -->
        <div class="ml-4">
        <div class="card ml-5" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">About Community</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Title: <b>{{ group.title }}</b></li>
            <li class="list-group-item">Description: {{ group.description|truncatewords_html:50|urlize }} </li>
            <li class="list-group-item">Total Posts: <span class="badge badge-primary">{{ group.submitted_posts.count }}</span></li>
            <li class="list-group-item">Admins:
              {% for admin in group.get_admins %}
                      <a href="{% url 'users:profile_show_user' user.id %}">{{ admin.profile.screen_name }}</a></p>
              {% endfor %}
            </li>
            <li class="list-group-item">Subscribers: <span class="badge badge-primary">{{ group.subscribers.count }}</span></li>
          </ul>
          <div class="card-body">
            {% if group in request.user.subscribed_groups.all %}
            <a href="{% url 'groups:subscribe' group.slug %}" class="btn btn-secondary float-right" id="subscribe_group">Unsubscribe</a>
            {% else %}
            <a href="{% url 'groups:subscribe' group.slug %}" class="btn btn-primary float-right" id="subscribe_group">Subscribe</a>
            {% endif %}
            <p class="text-muted">Created {{ group.created|date }}</p>
            {% if admins %}
            {% if request.user in admins %}
            <a href="{% url 'groups:edit_group_cover' group.slug %}" class="float-right">Edit group cover</a>
            {% endif %}
            {% endif %}
          </div>
        </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  <!-- /.container -->
{% endblock content %}