{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Home{% endblock title %}

{% block content %}

<!-- <style>
  body{
    background-image:url("/static/img/default_background.jpeg");
    background-size: 100%;
  }
</style> -->

<!-- Page Content -->

    <div class="row">
      {% if group.cover %}
      <img class="mb-3" style="width: 1200px;height: 250px;" src="{{ group.cover.url }}" alt="">
      {% else %}
      <img class="mb-3" src="{% static 'img/default_cover.jpeg' %}" style="width: 1200px;height: 250px;" alt="">
      {% endif %}
      <!-- Blog Entries Column -->
      <div class="col-md-8">

        {% for post in posts %}
        <!-- Blog Post -->
        <div class="card mb-4">
          {% if post.image %}
          <div class="text-center">
          <img class="card-img-top" src="{{ post.image.url }}">
          </div>
          {% endif %}
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.body|truncatewords_html:50|urlize }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
            {% if post in user.liked_posts.all %}
              <a href="{% url 'posts:like' post.slug %}" class="btn btn-primary float-right"><i class="fas fa-thumbs-down"></i></a>
            {% else %}
              <a href="{% url 'posts:like' post.slug %}" class="btn btn-primary float-right"><i class="fas fa-thumbs-up"></i></a>
            {% endif %}
          </div>
          <div class="card-footer text-muted">
            Posted on {{ post.created|naturaltime }} by
            <a href="{% url 'users:profile_show_user' user.id %}">{{ post.author.profile.screen_name }}</a>
            <p class="float-right">{{ post.comments.count }} Comments</p>
          </div>
        </div>
        {% endfor %}

  


        <!-- Pagination -->
        <nav>   
          <ul class="pagination justify-content-center mt-2">
           {% if is_paginated %}
            {% if page_obj.has_previous %}
              <li class="page-item">
                  <a href="?page={{ page_obj.previous_page_number }}"  tabindex="-1" aria-disabled="true" class="page-link">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active"  aria-current="page">
                    <a class="page-link">
                        {{ i }}
                         <span class="sr-only">(current)</span>
                    </a>
              </li>
              {% else %}
                <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item page-link"><a href="?page={{ page_obj.next_page_number }}" >Next</a></li>
            {% else %}
              <li class="disabled page-item"><a class="page-link">Next</a></li>
            {% endif %}
        {% endif %}
      </ul>
      </nav>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Side Widget -->
        <div class="ml-4">
        <div class="card ml-5" style="width: 18rem;">
          <div class="card-body">
            {% if group.logo %}
            <img class="mb-3" src="{{ group.logo.url }}" style="width:75px;height:75px;display:block;margin-left:auto;margin-right:auto;border-radius:50%;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
            {% else %}
              {% if group.category.name == 'Gaming' %}
                <img class="mb-3" src="{% static 'img/gaming.png' %}" style="width:75px;height:75px;display: block;margin-left: auto;margin-right: auto;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
              {% elif group.category.name == 'Health & Fitness' %}
                <img class="mb-3" src="{% static 'img/fitness.png' %}" style="width:75px;height:75px;display: block;margin-left: auto;margin-right: auto;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
              {% elif group.category.name == 'News' %}
                <img class="mb-3" src="{% static 'img/news.png' %}" style="width:75px;height:75px;display: block;margin-left: auto;margin-right: auto;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
              {% elif group.category.name == 'Sports' %}
                <img class="mb-3" src="{% static 'img/sports.png' %}" style="width:75px;height:75px;display: block;margin-left: auto;margin-right: auto;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
              {% elif group.category.name == 'Tv' %}
                <img class="mb-3" src="{% static 'img/tv.png' %}" style="width:75px;height:75px;display: block;margin-left: auto;margin-right: auto;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
              {% elif post.group.category.name == 'Tech' %}
                <img class="mb-3" src="{% static 'img/tech.png' %}" style="width:75px;height:75px;display: block;margin-left: auto;margin-right: auto;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
              {% elif group.category.name == 'Music' %}
                <img class="mb-3" src="{% static 'img/music.png' %}" style="width:75px;height:75px;display: block;margin-left: auto;margin-right: auto;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
              {% elif group.category.name == 'Movies' %}
                <img class="mb-3" src="{% static 'img/movies.png' %}" style="width:75px;height:75px;display: block;margin-left: auto;margin-right: auto;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
              {% elif group.category.name == 'Food' %}
                <img class="mb-3" src="{% static 'img/food.png' %}" style="width:75px;height:75px;display: block;margin-left: auto;margin-right: auto;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
              {% elif group.category.name == 'Shopping' %}
                <img class="mb-3" src="{% static 'img/shopping.png' %}" style="width:75px;height:75px;display: block;margin-left: auto;margin-right: auto;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
              {% elif group.category.name == 'Travelling' %}
                <img class="mb-3" src="{% static 'img/travelling.png' %}" style="width:75px;height:75px;display: block;margin-left: auto;margin-right: auto;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
              {% elif group.category.name == 'Tech' %}
                <img class="mb-3" src="{% static 'img/tech.png' %}" style="width:75px;height:75px;display: block;margin-left: auto;margin-right: auto;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
              {% elif group.category.name == 'Science' %}
                <img class="mb-3" src="{% static 'img/science.png' %}" style="width:75px;height:75px;display: block;margin-left: auto;margin-right: auto;" alt=""><h5 class="card-title text-center" style="color:cadetblue;">About Community</h5>
              {% endif %}
            {% endif %}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Title: <b>{{ group.title }}</b><span class="badge badge-primary float-right">{{ group.category.name }}</span></li>
            <li class="list-group-item">Description: {{ group.description|truncatewords_html:50|urlize }} </li>
            <li class="list-group-item">Total Posts: <span class="badge badge-primary">{{ group.submitted_posts.count }}</span></li>
            <li class="list-group-item">Admins:
              {% for admin in group.get_admins %}
                      <a href="{% url 'users:profile_show_user' user.id %}">{{ admin.profile.screen_name }}</a></p>
              {% endfor %}
            </li>
            <li class="list-group-item">Subscribers: <span class="badge badge-primary">{{ group.subscribers.count }}</span></li>
          </ul>
          <div class="card-body">
            {% if user in group.banned_users.all %}
              <a class="btn btn-secondary float-right mr-2">Banned</a>
            {% else %}
              {% if group in request.user.subscribed_groups.all %}
              <a href="{% url 'groups:subscribe' group.slug %}" class="btn btn-secondary float-right mr-2" id="subscribe_group">Unsubscribe</a>
              {% else %}
              <a href="{% url 'groups:subscribe' group.slug %}" class="btn btn-primary float-right" id="subscribe_group">Subscribe</a>
              {% endif %}
            {% endif %}
            <p class="text-muted">Created {{ group.created|date }}</p>
            {% if admins %}
            {% if request.user in admins %}
            <a href="{% url 'groups:edit_group_cover' group.slug %}" class="float-right">Edit group cover</a>
            <a href="{% url 'reports:show_reports' group.slug %}">View reports</a>
            <a href="{% url 'groups:banned_users' group.slug %}">Banned users</a>
            {% endif %}
            {% endif %}
          </div>
        </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  <!-- /.container -->
{% endblock content %}
