{% extends 'base.html' %}

{% load humanize %}

{% block title %}Your Groups{% endblock title %}

{% block content %}
{% if user_groups %}
<h2 class="text-center" style="color:cadetblue">List of <b>{{ user.username }}</b> created groups</h2>
<div class="container">
    <div class="list-group">
      {% for group in user_groups %}
        <a href="{{ group.get_absolute_url }}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ group.title }}</h5>
            <small>{{ group.created|naturaltime }}</small>
          </div>
          <p class="mb-1">{{ group.description|truncatewords_html:50 }}</p>
          <small>{{ group.subscriptions.count }} subscribers</small>
        </a>
        {% endfor %}
      </div>
      </div>
{% else %}
<div class="card p-4 my-4 mx-0">
  <h6 class="text-center">No Groups Found</h6>
  <div style="margin:0 auto;">
  <p class="text-muted">You have not created groups yet</p>
  </div>
</div>
{% endif %}
{% endblock content %}
