{% extends 'base.html' %}

{% load communities_tags %}

{% load humanize %}

{% block content %}
<div class="container">
<div class="list-group">
    {% for community in communities %}
    <a href="{{ community.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ community.title }}</h5>
        <small>{{ community.created|naturaltime }}</small>
        <small>{{ community.created|naturaltime }}</small>
      </div>
      <p class="mb-1">{{ community.description|markdown|truncatewords_html:50 }}</p>
    </a>
    {% endfor %}
  </div>
</div>
{% include 'pagination.html' %}
{% endblock content %}
