{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="col-8 ">
        <div class="col-10 pb-3">
            <div class="card">
                <h6 class="card-header bg-white border-bottom-0">
                    <a href="#" class="mr-2 card-link">Group name</a>
                        <small class="text-right ">
                            Posted by <a href="#">user</a>
                        </small>
                        <small>12 hours ago</small>
                </h6>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            
                <div class="card-header">
                    <div class="card-text pl-3">
                        <a href="#" class="mr-2 card-link"><i class="fas fa-comments"></i> 4.4k Comments</a>
                        <a href="#" class="mr-2 card-link"><i class="fas fa-share"></i> Share</a>
                        <a href="#" class="mr-2 card-link"><i class="fas fa-save"></i> Save</a>
                    </div>
                </div>
        
        </div>
        </div>
        <div class="col-10 pb-3">
            <div class="card">
                <h6 class="card-header bg-white border-bottom-0">
                    <a href="#" class="mr-2 card-link text-link" >Group name</a>
                        <small class="text-right ">
                            Posted by <a href="#">user</a>
                        </small>
                        <small>12 hours ago</small>
                </h6>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            
                <div  class="card-header">
                    <div class="card-text pl-3">
                        <a href="#" class="mr-2 card-link"><i class="fas fa-comments"></i> 4.4k Comments</a>
                        <a href="#" class="mr-2 card-link"><i class="fas fa-share"></i> Share</a>
                        <a href="#" class="mr-2 card-link"><i class="fas fa-save"></i> Save</a>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-10 pb-3">
            <div class="card">
                <h6 class="card-header bg-white border-bottom-0">
                    <a href="#" class="mr-2 card-link text-link" >Group name</a>
                        <small class="text-right ">
                            Posted by <a href="#">user</a>
                        </small>
                        <small>12 hours ago</small>
                </h6>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            
                <div  class="card-header">
                    <div class="card-text pl-3">
                        <a href="#" class="mr-2 card-link"><i class="fas fa-comments"></i> 4.4k Comments</a>
                        <a href="#" class="mr-2 card-link"><i class="fas fa-share"></i> Share</a>
                        <a href="#" class="mr-2 card-link"><i class="fas fa-save"></i> Save</a>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div class="col-4">
        <div class="col-12 pb-5">
            <div class="card">
                <div class="card-header text-center">Top languages are used</div>
                <div class="card-body text-center">
                    <a href="#" class="card-link">Python</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="card-link">Javascript</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="card-link">TypeScript</a>
                </div>
            </div>
        </div>
        <div class="col-12 pb-5">
            <div class="card">
                <div class="card-header text-center">Top technologies are used</div>
                <div class="card-body text-center">
                    <a href="#" class="card-link">Docker</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="card-link">Angular</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="card-link">React</a>

                </div>
            </div>
        </div>
        <div class="col-12 pb-5">
            {% include "footer.html" %}
        </div>
    
    </div>
</div>



{% endblock content %}