<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5 bg-white rounded">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      
      
        <li>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </li>   
      </ul>
        <a href="#" class="nav-link link"><i class="far fa-bell"></i></a> 
        <a href="#" class="nav-link link"><i class="far fa-envelope"></i></a>
        <a href="#" class="nav-link link"><i class="far fa-comment"></i></a>
        
      <ul class="navbar-nav">
          <li class="nav-item"><a href="#" class="btn-sm btn-primary mr-2 pr-4 pl-4" data-toggle="modal" data-target=".bd-example-modal-lg">Login</a></li> 
          <li class="nav-item"><a href="#" class="btn-sm btn-primary mr-2 pr-4 pl-4" data-toggle="modal" data-target=".bd-example-modal-lg-2">SIGN UP</a></li>
          {% include 'registration/login.html' %} 
          {% include 'registration/signup.html' %} 
      </ul>
      <ul class="navbar-nav">
          <li>
            <div class="dropdown mr-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">Action</button>
                  <button class="dropdown-item" type="button">Another action</button>
                  <button class="dropdown-item" type="button">Something else here</button>
                </div>
              </div>
          </li>
      </ul>
    </div>
  </nav>
