{% extends 'base.html' %}

{% load bootstrap4 %} 

{% load static %}


{% load crispy_forms_tags %}

{% block title %}Profile{% endblock title %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    <div class="row justify-content-center" >
        {% if messages %}
        {% for message in messages  %}
        <div class="alert {% if message.tags == 'success' %}  alert-success {% else %} alert-danger {% endif %}">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card col-12 m-4 p-0 pb-4 " >
            
            <div class="card-header text-center"><h5>Profile</h5></div>
            <div class="row">
                <div class="col-5">
                    <div class="card-body">
                        <img class="ml-3" src="{{user.profile.get_picture}}" width="300px" height="300px" class="rounded" alt="">
                        <div class="offset-2 mt-2">{{profile_form.img_profile}}</div>                 
                   </div>
                </div>
                <div class="col-6">
                    <div class="card-body">
                        {% csrf_token %}
                        {{user_form|crispy}}
                        <!-- {{profile_form|crispy}} -->
                        {{profile_form.birth_date|as_crispy_field}}
                        {{ profile_form.media }}  
                        {{profile_form.gender|as_crispy_field}}
                        {{profile_form.country|as_crispy_field}}
                        <a href="{% url 'users:password_change' %}" class="card-link"><h5>Change password</h5></a>

                    </div>
                    <button type="submit" class="btn btn-primary float-right mb-4" id="btn">Update</button>
                    
                    <div class="text-danger p-2 m-2">
                        {{ profile_form.non_field_errors }}
                        {{ user_form.non_field_errors }}
                        {{profile_form.img_profile.errors}}

                    </div>

                </div>
            </div>
          
        </div>
    </div>
</form>
{% endblock content %}
