{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% load groups_tags %}

{% block title %}Home{% endblock title %}

{% block content %}


<!-- Page Content -->

    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <form>
          <div class="form-group">
          <input onclick="location.href='/new_post/';" class="form-control form-control-lg" placeholder="Create post">
          </div>
        </form>
        {% for post in posts %}
        <!-- Blog Post -->
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="float-right">{{ post.views }} views</h5>
            {% if post.group.logo %}
            <img class="mb-3" src="{{ post.group.logo.url }}" style="width:50px;height:50px;" alt="">
            {% else %}
              {% if post.group.category.name == 'Gaming' %}
                <img class="mb-3" src="{% static 'img/gaming.png' %}" style="width:50px;height:50px;" alt="">
              {% elif post.group.category.name == 'Health & Fitness' %}
                <img class="mb-3" src="{% static 'img/fitness.png' %}" style="width:50px;height:50px;" alt="">
              {% elif post.group.category.name == 'News' %}
                <img class="mb-3" src="{% static 'img/news.png' %}" style="width:50px;height:50px;" alt="">
              {% elif post.group.category.name == 'Sports' %}
                <img class="mb-3" src="{% static 'img/sports.png' %}" style="width:50px;height:50px;" alt="">
              {% elif post.group.category.name == 'Tv' %}
                <img class="mb-3" src="{% static 'img/tv.png' %}" style="width:50px;height:50px;" alt="">
              {% elif post.group.category.name == 'Tech' %}
                <img class="mb-3" src="{% static 'img/tech.png' %}" style="width:50px;height:50px;" alt="">
              {% elif post.group.category.name == 'Music' %}
                <img class="mb-3" src="{% static 'img/music.png' %}" style="width:50px;height:50px;" alt="">
              {% elif post.group.category.name == 'Movies' %}
                <img class="mb-3" src="{% static 'img/movies.png' %}" style="width:50px;height:50px;" alt="">
              {% elif post.group.category.name == 'Food' %}
                <img class="mb-3" src="{% static 'img/food.png' %}" style="width:50px;height:50px;" alt="">
              {% elif post.group.category.name == 'Shopping' %}
                <img class="mb-3" src="{% static 'img/shopping.png' %}" style="width:50px;height:50px;" alt="">
              {% elif post.group.category.name == 'Travelling' %}
                <img class="mb-3" src="{% static 'img/travelling.png' %}" style="width:50px;height:50px;" alt="">
              {% elif post.group.category.name == 'Tech' %}
                <img class="mb-3" src="{% static 'img/tech.png' %}" style="width:50px;height:50px;" alt="">
              {% elif post.group.category.name == 'Science' %}
                <img class="mb-3" src="{% static 'img/science.png' %}" style="width:50px;height:50px;" alt="">
              {% endif %}
            {% endif %}
            <a href="{{ post.group.get_absolute_url }}" data-toggle="tooltip" data-placement="top" title="{{ post.group.slug }} group">{{ post.group.slug }}</a>
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.body|truncatewords_html:50|urlize }}</p>
            {% if post.image %}
            <img class="card-img pb-2" src="{{ post.image.url }}" alt="Card image cap">
            {% endif %}
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
            <a class="like-btn float-right" id ='btn_like' data-href='{{ post.get_api_like_url }}' data-likes='{{ post.points.count }}' href="{{ post.get_like_url }}">
             {% if post.points.count == 0  %}
             <i class="far fa-thumbs-up fa-lg "></i>
             {% elif post.points.count == 1 %} 
             <i class="fas fa-thumbs-up fa-lg"></i>
             {% else %}
             error
             {% endif %}
             </a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ post.created|naturaltime }} by
            <a href="{% url 'users:profile_show_user' post.author.id  %}">{{ post.author.profile.screen_name }}</a>
            <p class="float-right">{{ post.comments.count }} Comments</p>
          </div>
        </div>
        {% endfor %}

        <!-- Pagination -->
        <nav>   
          <ul class="pagination justify-content-center mt-2 mb-5">
           {% if is_paginated %}
            {% if page_obj.has_previous %}
              <li class="page-item">
                  <a href="?page={{ page_obj.previous_page_number }}"  tabindex="-1" aria-disabled="true" class="page-link">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active"  aria-current="page">
                    <a class="page-link">
                        {{ i }}
                         <span class="sr-only">(current)</span>
                    </a>
              </li>
              {% else %}
                <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item page-link"><a href="?page={{ page_obj.next_page_number }}" >Next</a></li>
            {% else %}
              <li class="disabled page-item"><a class="page-link">Next</a></li>
            {% endif %}
        {% endif %}
      </ul>
      </nav>

      </div>
      {% if bv %}
          
      {% else %}
        {% top_five_groups %}
        <div class="card my-4">
          <div class="card-body">
            Copyright &copy; DNMK 2020
          </div>
        </div>
        </div>
      {% endif %}

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Side Widget -->

      </div>
    </div>
    <!-- /.row -->
{% endblock content %}