{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}

<!-- Page Content -->
<div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h1 class="mt-4">{{ post.title }}</h1>
            </div>
            <p class="lead">{{ post.body }}</p>    
            {% if post.image %}
            <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">
            {% endif %}
          </div>
          <div class="card-footer text-muted">
            Posted on {{ post.created|naturaltime }} by
            <a href="">{{ post.author.username }}</a>
            {% if post in user.liked_posts.all %}
            <a href="{% url 'posts:like' post.slug %}" class="ml-5"><i class="fas fa-thumbs-down"></i></a>
            {% else %}
            <a href="{% url 'posts:like' post.slug %}" class="ml-5"><i class="fas fa-thumbs-up"></i></a>
            {% endif %}
            {% ifequal post.author request.user %}
            <b class="pl-5 float-right"><a href="{% url 'posts:delete_post' post.slug %}" data-toggle="tooltip" data-placement="top" title="Delete post"><i class="fas fa-trash"></i></a></b>
            {% endifequal %}
            <p class="float-right">{{ post.comments.count }} Comments</p>
          </div>
        </div>
        <!-- <a href="{{ group.get_absolute_url }}">{{ post.group.slug }}</a> -->
        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form method="POST" id="post-form">
              {% csrf_token %}
              {{ comment_form.body|as_crispy_field }}
              <button type="submit" class="btn btn-primary" id='comment'>Submit</button>
            </form>
          </div>
        </div>
        <!-- Single Comment -->
        
        {% if comments %}
        <div class="comment_ajax">
       {% for comment in comments %}
 
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              {% ifequal user comment.commenter %}
              <a href="{% url 'comments:delete_comment' comment.pk %}" class="float-right" style="color:red;"><i class="fas fa-trash"></i></a>
              {% else %}
              <a href="" class="float-right">Reply</a>
              {% endifequal %}
              <h5 class="mt-0"><a href="">{{ comment.commenter.username }}</a></h5>
              {{ comment.body }}
              <h6>{{ comment.created|naturaltime }}</h6>
            </div>
          </div>
        {% endfor %}  
    
        </div>
      {% else %}
        <div class="card without_comment" style="margin:15px 0px;">
          <div class="card-header">
            {{ post.comments.count }} Comments
          </div>
          <ul class="list-group list-group-flush">
            <div style="padding:15px;">
              <h6 class="text-center">No comments to display</h6>
            </div>
          </ul>
        </div>
      {% endif %}
        
    
    </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Side Widget -->
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">About Community</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Title:</li>
            <li class="list-group-item">Description:</li>
            <li class="list-group-item">Total Posts:</li>
            <li class="list-group-item">Admins:</li>
            <li class="list-group-item">Subscribers:</li>
          </ul>
          <div class="card-body">
            <a href="" class="btn btn-primary float-right">Join</a>
            <p class="text-muted">Created Aug 9 2015</p>
          </div>
        </div>

      </div>
</div>


{% endblock content %}