{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}

<!-- Page Content -->
<div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">

            <div class="star-partition">
              <a href="{% url 'posts:like' post.slug %}"
                 style="text-decoration:none;"
                 title="{{ post.points.count }} points"
                 id="js-star-post">
                 {% if post in user.liked_posts.all %}
                   <i class="fas fa-thumbs-down fa-lg" aria-hidden="true" id="star_icon"></i>
                 {% else %}
                   <i class="fas fa-thumbs-up fa-lg" aria-hidden="true" id="star_icon"></i>
                 {% endif %}
                 <span id="js-star-count">{{ post.points.count }}</span>
              </a>
            </div>

            <div class="card-title">
              <h1 class="mt-4">{{ post.title }}</h1>
            </div>
            <p class="lead">{{ post.body }}</p>    
            {% if post.image %}
            <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">
            {% endif %}
          </div>
          <div class="card-footer text-muted">
            Posted on {{ post.created|naturaltime }} by
            <a href="">{{ post.author.username }}</a>
            {% ifequal post.author request.user %}
            <b class="pl-5 float-right"><a href="{% url 'posts:delete_post' post.slug %}" data-toggle="tooltip" data-placement="top" title="Delete post"><i class="fas fa-trash"></i></a></b>
            {% endifequal %}
            <p class="float-right">{{ post.comments.count }} Comments</p>
          </div>
        </div>
        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <!-- <form method="POST" id="post-form">
              {% csrf_token %}
              {{ comment_form|crispy }}
              <button type="submit" class="btn btn-primary" id='btn-comment'>Submit</button>
            </form> -->
            <form role="form" method="post" onsubmit="return false" id="comment_form">
              {% csrf_token %}
              <textarea class="form-control" id="comment_text" rows="3" name="body" maxlength="2000" placeholder="Leave a comment"></textarea>
            </form>
          </div>
        </div>
        <!-- Single Comment -->
        <script>
           $(document).on("click", "a#delete_comment",function () {
            {% if not request.user.is_authenticated %}
            window.location.href = "{% url 'users:login' %}";
            {% else %}
            var $element = $(this);
            var $delete_url = $(this).attr("href");
            var $delete_trash = $(this).find('i.fas');
            $.ajax({
              url: $delete_url,
              type: 'GET',
              success: function (data) {
                if ($delete_trash.hasClass('fa-trash')) {
                  $delete_trash.removeClass('fa-trash').addClass('fa-trash');
                  $element.closest("div#comments_container").fadeOut();
                }
                else {
                  console.log('Unexpected error!');
                }
              }
            });
            {% endif %}
            return false;
          });
        </script>


        {% if comments %}
          {% for comment in comments %}
            <div class="media mb-4" id="comments_container">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                {% ifequal user comment.commenter %}
                <a href="{% url 'comments:delete_comment' comment.id %}" title="delete this comment" id="delete_comment" class="float-right" style="color:red;"><i class="fas fa-trash"></i></a>
                {% else %}
                <a href="" class="float-right">Reply</a>
                {% endifequal %}
                <h5 class="mt-0"><a href="">{{ comment.commenter.username }}</a></h5>
                {{ comment.body }}
                <h6>{{ comment.created|naturaltime }}</h6>
              </div>
            </div>
          {% endfor %}
          <div class="add_comment"></div>

        {% else %}
          <div id="comments_container">
            <div id="no_comments">
          <div class="card-header">
            Comments
          </div>
          <ul class="list-group list-group-flush">
            <div style="padding:15px;">
              <h6 class="text-center">No comments to display</h6>
            </div>
          </ul>
          </div>
          </div>
      {% endif %}
        
    
    </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Side Widget -->
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">About Community</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Title:</li>
            <li class="list-group-item">Description:</li>
            <li class="list-group-item">Total Posts:</li>
            <li class="list-group-item">Admins:</li>
            <li class="list-group-item">Subscribers:</li>
          </ul>
          <div class="card-body">
            <a href="" class="btn btn-primary float-right">Join</a>
            <p class="text-muted">Created Aug 9 2015</p>
          </div>
        </div>

      </div>
</div>

<!-- <script>
  var url = '{{post.get_absolute_url}}';
  $('#btn-comment').click(function(e){
        e.preventDefault();
        $.ajax({
        method:'POST',
        url:url,
        data:{
          body:$("#body").val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(data){
          document.getElementById('post-form').reset();
          $('.add_comment').append(
           ' <div class="media mb-4" id="delete_media">'+
           '<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">'+
           '<div class="media-body">'+ 
              `<a href=${data.delete} class="float-right delete" data-dismiss="alert" aria-label="close"  style="color:red;"><i class="fas fa-trash"></i></a>`+
               `<h5 class="mt-0"><a href="">${data.username}</a></h5>`+
               `${data.body}`+
              `<h6>${data.date}</h6>`+
            '</div>'+
          '</div>'
          )
          var $element = $("#delete_media");
          var $delete_url = $("#delete_media").attr("href");
          var $delete_trash = $("#delete_media").find('i.fas');
          if ($delete_trash.hasClass('fa-trash')) {
                  $delete_trash.removeClass('fa-trash').addClass('fa-trash');
                  $element.closest("div#cdiv").fadeOut();
                }else{
                  console.log("error");
                }
        },
        error:function(){
          alert("Error");
        }
      })
  });
</script> -->

<!-- <script type="text/javascript">
  $(document).ready(function(){
    // Star or unstar a post
    $(document).on("click", "#js-star-post", function () {
      {% if not request.user.is_authenticated %}
      window.location.href = "{% url 'users:login' %}";
      {% else %}
      var $star_count = $(this).find('#js-star-count');
      var $star_url = $(this).attr("href");
      var $star_icon = $(this).find('i.fas');
      $.ajax({
        url: $star_url,
        type: 'GET',
        success: function (data) {
          $star_count.text(data.total_points);
  
          if ($star_icon.hasClass('fa-thumbs-up')) {
            $star_icon.removeClass('fa-thumbs-up').addClass('fa-thumbs-down');
          }
          else if ($star_icon.hasClass('fa-thumbs-down')) {
            $star_icon.removeClass('fa-thumbs-down').addClass('fa-thumbs-up');
          } else {
            console.log('Unexpected error!');
          }
        }
      });
      {% endif %}
      return false;
    });
  });
</script> -->

<script type="text/javascript">
$(document).ready(function(){
  {% if request.user.is_authenticated %}
  $("#comment_form textarea").on("keydown", function (evt) {
    var keyCode = evt.which?evt.which:evt.keyCode;
    if (keyCode == 13) {
      var form = $("#comment_form");
      var comments_container = $("#comments_container");
      var input = $(this);
      $.ajax({
        data: $(form).serialize(),
        type: 'post',
        cache: false,
        beforeSend: function () {
          $(input).val("");
        },
        success: function (data) {
          $(comments_container).find("#no_comments").fadeOut();
          $(comments_container).append(data);
          $('html, body').stop().animate( {
            'scrollTop': input.offset().top-40
          }, 500, 'swing');
          input.focus();
        }
      });
      return false;
    }
  });
  {% else %}
  $("#comment_form textarea").on("focus", function() {
    $( this ).fadeOut( 500 );
    $("#comment_form").html('<div style="margin:10px;" id="login-first"><h6 class="text-center">Login required to comment this subject.</h6><a href="{% url 'users:login' %}" class="btn btn-block btn-primary"><b>Login</b></a></div>').fadeIn( 1000 );
    $('html, body').stop().animate( {
      'scrollTop': $("#login-first").offset().top-40
    }, 1000, 'swing');
  });
  {% endif %}
});
</script>

{% endblock content %}