{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        {% if post in user.liked_posts.all %}
        <a href="{% url 'posts:like' post.slug %}"><i class="fas fa-thumbs-down"></i></a>
        {% else %}
        <a href="{% url 'posts:like' post.slug %}"><i class="fas fa-thumbs-up"></i></a>
        {% endif %}
        <!-- Title -->
        <h1 class="mt-4">{{ post.title }}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="">{{ post.author.username }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ post.created|naturaltime }}</p>

        <hr>

        <!-- Preview Image -->
        {% if post.image %}
        <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">
        {% endif %}
        <hr>

        <a href="{{ group.get_absolute_url }}">{{ post.group.slug }}</a>

        <!-- Post Content -->
        <p class="lead">{{ post.body }}</p>
        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              {{ comment_form|crispy }}
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        {% if comments %}
        {% for comment in comments %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0"><a href="">{{ comment.commenter }}</a></h5>
            {{ comment.body }}
            <h6>{{ comment.created|naturaltime }}</h6>
            {% ifequal user comment.commenter %}
            <a href="{% url 'comments:delete_comment' %}" class="float-right"><i class="fas fa-trash"></i></a>
            {% else %}
            <a href="" class="float-right">Reply</a>
            {% endifequal %}
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="card" style="margin:15px 0px;">
        <div class="card-header">
          {{ post.comments.count }} Comments
        </div>
        <ul class="list-group list-group-flush">
          <div style="padding:15px;">
            <h6 class="text-center">No comments to display</h6>
          </div>
        </ul>
      </div>
      {% endif %}
    </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Side Widget -->
        <div class="card" style="width: 18rem;margin-top:80px;">
          <div class="card-body">
            <h5 class="card-title text-center">About Community</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Title:</li>
            <li class="list-group-item">Description:</li>
            <li class="list-group-item">Total Posts:</li>
            <li class="list-group-item">Admins:</li>
            <li class="list-group-item">Subscribers:</li>
          </ul>
          <div class="card-body">
            <a href="" class="btn btn-primary float-right">Join</a>
            <p class="text-muted">Created Aug 9 2015</p>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock content %}