{% extends 'base.html' %}

{% load humanize %}

{% load groups_tags %}

{% block title %}Notifications{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        {% for event in evemts %}
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            {% if event.Object %}
            <h5 class="card-title">{{ event.created|naturaltime }}</h5>
            <a href="{{ event.Object.get_absolute_url }}" class="card-text">{{ event }}</a>
            {% endif %}
      </div>
    </div>
  </div>
</div>
            {% empty %}
            <div class="card mx-auto">
                <div class="card-body text-center">
                  <h4 class="card-title" style="color:cadetblue;">No Notifications Yet!</h4>
                </div>
              </div>
            {% endfor %}
    </div>
     </div>
{% endblock content %}
